<!DOCTYPE html>
<html lang="en">

<head>
  <title>SPSS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <div style="margin-top: 7px; margin-left: -12px;">
          <img src="../data/logo.png" height="35" width="42">
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="..\index.php">Home</a></li>
          <li><a href="../aboutus.php">About us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav"></div>
      <div class="col-sm-8 text-left"> 
        <h1 id="result">Social Perception and Sentiment in Soccer</h1><br><br><br><br>
        <form action="../playerMgr.php" method="post">
          <img src="../data/player.png" height="50" width="40">
          Player: <input id="playerautocomp" class="ui-autocomplete-input" autocomplete="off" type="text" name="player" required>
          <input type="hidden" name="season" value="2017-18">
          <input type="submit" name="subplayer" value="Search"><br><br>
        </form>
        <script>
            var javascript_array_players = {{ surnames | json_encode | raw }};
            $( "#playerautocomp" ).autocomplete({
              source: javascript_array_players,
              minLength: 1,
              messages: {
                noResults: '',
                results: function() {}
              }
            });
          </script>
        <form action="../teamMgr.php" method="post">
          <img src="../data/team.png" height="40" width="40">
          Team: <input id="teamautocomp" autocomplete="off" type="text" name="team" style="margin-left: 6px;" required>
          <input type="submit" name="subteam" value="Search"><br><br>
        </form>
        <script>
            var javascript_array_teams = {{ namesteams | json_encode | raw }};
            $( "#teamautocomp" ).autocomplete({
              source: javascript_array_teams,
              minLength: 1,
              messages: {
                noResults: '',
                results: function() {}
              }
            });
          </script>
        <form action="../matchMgr.php" method="post" style="margin-left: 3px;">
          <img src="../data/ball.png" height="40" width="40">
          Match: <input id="firstteamautocomp" autocomplete="off" type="text" name="team1" required> vs <input  id="secondteamautocomp" autocomplete="off" type="text" name="team2" required>
          <input type="submit" name="submatch" value="Search"><br><br>          
        </form>          
        <script>
            $( "#firstteamautocomp" ).autocomplete({
              source: javascript_array_teams,
              minLength: 1,
              messages: {
                noResults: '',
                results: function() {}
              }
            });
            $( "#secondteamautocomp" ).autocomplete({
              source: javascript_array_teams,
              minLength: 1,
              messages: {
                noResults: '',
                results: function() {}
              }
            });
          </script>
      </div>    
      <div class="col-sm-2 sidenav">
        <div class="">
          <img src="../data/breaking-news.png" height="400" width="142">
        </div>
      </div>
    </div>
  </div>
</body>
</html>