<!DOCTYPE html>
<html lang="en">
<head>
  <title>SPSS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <div style="margin-top: 7px; margin-left: -12px;">
          <img src="data/logo.png" height="35" width="42">
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="../index.php">Home</a></li>
          <li><a href="../aboutus.php">About us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% if matchExist %}
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav"></div>
      <div class="col-sm-8 text-left"> 
        <h1 id="result"> Match found! </h1>
        <hr>
        <h3> Dati match </h3>
        <div class="col-sm-3">
          <h4> {{ thismatch.getTeamF() }} </h4>
          <form action="../teamMgr.php" method="post">
            <input type="hidden" name="team" value="{{ thismatch.getTeamF() }}">
            <input type="image" src="{{ thismatch.getTeamFImg()  }}" class="img-responsive"/>
          </form>
        </div>
        <div class="col-sm-3" style="margin-left:40%;">
          <h4> {{ thismatch.getTeamS() }} </h4> 
          <form action="../teamMgr.php" method="post">
            <input type="hidden" name="team" value="{{ thismatch.getTeamS() }}">
            <input type="image" src="{{ thismatch.getTeamSImg()  }}" class="img-responsive"/>
          </form>
        </div>
        <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Match</th>
            <th scope="col">Risultato</th>
            <th scope="col">1x2</th>
          </tr>
        </thead>
        <tbody>
          {% for x in arraymatches %}
          <tr>
            <th scope="row">{{ arraymatches[loop.index0][2] }}</th>
            <td>{{ arraymatches[loop.index0][0] }} - {{arraymatches[loop.index0][1]}} </td>
            <td> {{ arraymatches[loop.index0][3] }} </td>
            <td> {{ arraymatches[loop.index0][4] }} </td>
          </tr>
          {% endfor %}          
        </tbody>
      </table>

      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      <script>  
            window.onload = function() {         
              var chart = new CanvasJS.Chart("chartContainer", {
                data: [{
                  type: "bar",
                  yValueFormatString: "#,## %",
                  indexLabel: "{y}",
                  indexLabelPlacement: "inside",
                  indexLabelFontWeight: "bolder",
                  indexLabelFontColor: "white",
                  dataPoints: {{ thismatch.getDataPoints() | json_encode(constant('JSON_NUMERIC_CHECK')) | raw }}
                }]
              });
              chart.render();
            }
          </script><br><br><br>
          <h3>Storico visuale</h3>
          <div id="chartContainer" style="height: 170px; width: 50%;"></div>


          <div><br><br><br><br>
          <h3> Pronostico del {{ "now" | date("d/m/Y") }} {{ "%s" | format("-") }} {{ thismatch.getTeamF() }} {{ "%s" | format("vs") }} {{ thismatch.getTeamS() }} </h3>
            <div class="col-sm-3 text-center">
              <img src="{{ thismatch.getPronostic()[0] }}" class="img-responsive" style="width:70%; height:15%; "/>
            </div >
            <div class="col-sm-3 text-center">
              <img src="{{ thismatch.getPronostic()[1] }}" class="img-responsive" style="width:70%; height:15%; "/>
            </div >
            <div class="col-sm-3 text-center">
              <img src="{{ thismatch.getPronostic()[2] }}" class="img-responsive" style="width:70%; height:15%; "/>
            </div >
      </div>

      </div>
      <div class="col-sm-2 sidenav">
        <div class="">
          <img src="data/breaking-news.png" height="400" width="142">
        </div>
      </div>
    </div>
  </div>
  {% else %}  
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav"> </div>
      <div class="col-sm-8 text-left"> 
        <section id="not-found">
            <h1 id="result">404: Page not found</h1>
            <hr>
            <p>Sorry, but the page you are looking for has not been found.</p>
        </section>
        <div class="col-sm-12 text-center">
       </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="">
          <img src="data/breaking-news.png" height="400" width="142">
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</body>
</html>