<!DOCTYPE html>
<html lang="en">

<head>
  <title>SPSS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <div style="margin-top: 7px; margin-left: -12px;">
          <img src="data/logo.png" height="35" width="42">
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="../index.php">Home</a></li>
          <li><a href="../aboutus.php">About us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% if playerExist %}
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav"> </div>
      <div class="col-sm-8 text-left"> 
        <h1 id="result"> Player found! </h1>     
        <hr>
        <div>
          <h2> Dati giocatore </h2>
          <img src="{{ thisplayer.getImg() }}" height="300" width="300" style="float:left; margin-right: 5%;">
                <div>
                  <h4>Nome: <small class="text-muted"> {{ "%s #%s" | format(thisplayer.getFullName(), thisplayer.getNumber()) }}  </small></h4>
                  <!--<h4>Data di nascita: <small class="text-muted"> {{ thisplayer.getBirth() | date("d/m/Y") }} </small></h4>-->
                  <!--<h4>Nazionalità: <small class="text-muted"> {{ thisplayer.getNation() }} </small></h4>-->
                  <!--<h4>Altezza: <small class="text-muted"> {{ thisplayer.getHeight() }} </small></h4>-->
                  <!--<h4>Peso: <small class="text-muted"> {{ thisplayer.getWeight() }} </small></h4>-->
                  <h4>Ruolo: <small class="text-muted"> {{ thisplayer.getRole() }} </small></h4>
                  <h4>Squadra attuale: <small class="text-muted"> {{ thisplayer.getTeam() }} </small></h4>
                  <form action="../teamMgr.php" method="post">
                    <input type="hidden" name="team" value="{{ thisplayer.getTeam() }}">
                    <input type="image" src="{{ thisplayer.getTeamImg() }}" style="height:65px; width:65px; float:right; margin-top: -54px; margin-right: 249px;"/>
                  </form>
              </div >
          <br>
          <br>          
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>          
          <br>
        <div>
          <h2> Statistiche - Stagione {{ season }} </h2>
          <div style="margin-left: 33em;  margin-top: -6em;" >
                  <form action="../playerMgr.php" method="post">
                    <input type="hidden" name="player" value="{{ thisplayer.getFullName() }}">
                    <input type="hidden" name="season" value="2017-18">
                     <input type="submit" class="btn btn-default" value="Stagione 17-18">
                  </form>
                  <form action="../playerMgr.php" method="post">
                    <input type="hidden" name="player" value="{{ thisplayer.getFullName() }}">
                    <input type="hidden" name="season" value="2016-17">
                     <input type="submit" class="btn btn-default" value="Stagione 16-17">
                  </form>
                  <form action="../playerMgr.php" method="post">
                    <input type="hidden" name="player" value="{{ thisplayer.getFullName() }}">
                    <input type="hidden" name="season" value="2015-16">
                     <input type="submit" class="btn btn-default" value="Stagione 15-16">
                  </form>
                </div>
          <h4>Voto : <small class="text-muted"> {{ thisplayer.getVoto() }} </small> </h4>
          <h4>Fantavoto : <small class="text-muted"> {{ thisplayer.getFantaVoto() }} </small> </h4>
          <h4>Gol : <small class="text-muted"> {{ thisplayer.getGol() }} </small> </h4>
          <h4>Assist : <small class="text-muted"> {{ thisplayer.getAssist() }} </small> </h4>
          <h4>Rigori : <small class="text-muted"> {{ thisplayer.getRigori() }} </small> </h4>
          <h4>Rigori sbagliati : <small class="text-muted"> {{ thisplayer.getRigoriSbagliati() }} </small> </h4>
          <h4>Autogol : <small class="text-muted"> {{ thisplayer.getAutogol() }} </small> </h4>
          <h4>Ammonizioni : <small class="text-muted"> {{ thisplayer.getAmmonizioni() }} </small> </h4>          
          <h4>Espulsioni : <small class="text-muted"> {{ thisplayer.getEspulsioni() }} </small> </h4>
          <br>
          <br>
        </div>
        <div>
          <h2> Sentimento </h2>
        </div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script>  
            window.onload = function() {         
              var chart = new CanvasJS.Chart("chartContainer", {
                data: [{
                  type: "bar",
                  yValueFormatString: "#,## %",
                  indexLabel: "{y}",
                  indexLabelPlacement: "inside",
                  indexLabelFontWeight: "bolder",
                  indexLabelFontColor: "white",
                  dataPoints: {{ thisplayer.getDataPoints() | json_encode(constant('JSON_NUMERIC_CHECK')) | raw }}
                }]
              });
              chart.render();
            }
        </script>
        <div id="chartContainer" style="height: 170px; width: 100%;"></div><br>
        <br>
        <div class="col-sm-3 text-center" style="width:15%; height:15%; ">
          <img src="{{ thisplayer.getSmiles()[0] }}" class="img-responsive"/>
        </div>
        <div class="col-sm-3 text-center" style="width:15%; height:15%; ">
          <img src="{{ thisplayer.getSmiles()[1] }}" class="img-responsive"/>
        </div>
        <div class="col-sm-3 text-center" style="width:15%; height:15%; ">
          <img src="{{ thisplayer.getSmiles()[2] }}" class="img-responsive"/>
        </div>
        <div class="col-sm-12 text-center">
       </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="">
          <img src="data/breaking-news.png" height="400" width="142">
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav"> </div>
      <div class="col-sm-8 text-left"> 
        <section id="not-found">
            <h1 id="result">404: Page not found</h1>
            <hr>
            <p>Sorry, but the page you are looking for has not been found.</p>
        </section>
        <div class="col-sm-12 text-center">
       </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="">
          <img src="data/breaking-news.png" height="400" width="142">
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</body>
</html>