<!DOCTYPE html>
<html lang="en">

<head>
  <title>SPSS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <div style="margin-top: 7px; margin-left: -12px;">
          <img src="data/logo.png" height="35" width="42">
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="../index.php">Home</a></li>
          <li><a href="../aboutus.php">About us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% if teamExist %}
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav"> </div>
      <div class="col-sm-8 text-left"> 
        <h1 id="result"> Team found! </h1>      
        <hr>
        <div>
          <h2> Dati squadra </h2>
          <img src="{{ thisteam.getImg() }}" height="128" width="128" style="float:left; margin-right: 5%;">          
          <div>
            <h4>Nome squadra: <small class="text-muted"> {{ thisteam.getName() }} </small></h4>   
            <h4>Allenatore: <small class="text-muted"> {{ thisteam.getCoach() }} </small></h4>
            <h4>Stadio: <small class="text-muted"> {{ thisteam.getStadium() }} </small></h4>              
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>
        <div>
          <h2> Rosa </h2>
              {% for p in 0..numbOfPlayers %}
                <small class="text-muted">
                  <b>{{listOfSurnames[p]}}</b>
                  {{listOfRoles[p]}}             
                </small>
                <br>
              {% endfor %}
          <br>
          <br>
        </div>
        <div>
          <h2> Statistiche </h2>
          <h4>PG : <small class="text-muted"> {{thisteam.getPG()}} </small> </h4>
          <h4>PT : <small class="text-muted"> {{thisteam.getPT()}} </small> </h4>
          <h4>V : <small class="text-muted"> {{thisteam.getV()}} </small> </h4>
          <h4>P : <small class="text-muted"> {{thisteam.getP()}} </small> </h4>
          <h4>S : <small class="text-muted"> {{thisteam.getS()}} </small> </h4>
          <h4>GF : <small class="text-muted"> {{thisteam.getGF()}} </small> </h4>
          <h4>GS : <small class="text-muted"> {{thisteam.getGS()}} </small> </h4>
          <h4>DR : <small class="text-muted"> {{thisteam.getDR()}} </small> </h4>
          <h4>AMM : <small class="text-muted"> {{thisteam.getAMM()}} </small> </h4>
          <h4>ESP : <small class="text-muted"> {{thisteam.getESP()}} </small> </h4>
          <br>
          <br>
        </div>
        <div>
          <h2> Sentimento </h2>
        </div>        
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script>  
            window.onload = function() {         
              var chart = new CanvasJS.Chart("chartContainer", {
                data: [{
                  type: "bar",
                  yValueFormatString: "#,## %",
                  indexLabel: "{y}",
                  indexLabelPlacement: "inside",
                  indexLabelFontWeight: "bolder",
                  indexLabelFontColor: "white",
                  dataPoints: {{ thisteam.getDataPoints() | json_encode(constant('JSON_NUMERIC_CHECK')) | raw }}
                }]
              });
              chart.render();
            }
        </script>
        <div id="chartContainer" style="height: 170px; width: 100%;"></div><br>
        <br>
        <div class="col-sm-3 text-center" style="width:15%; height:15%; ">
          <img src="{{ thisteam.getSmiles()[0] }}" class="img-responsive"/>
        </div >
        <div class="col-sm-3 text-center" style="width:15%; height:15%; ">
          <img src="{{ thisteam.getSmiles()[1] }}" class="img-responsive"/>
        </div >
        <div class="col-sm-3 text-center" style="width:15%; height:15%; ">
          <img src="{{ thisteam.getSmiles()[2] }}" class="img-responsive"/>
        </div >
        <div class="col-sm-12 text-center">
        </div>
        </div>
        <div class="col-sm-2 sidenav">
          <div class="">
            <img src="data/breaking-news.png" height="400" width="142">
          </div>
        </div>
      </div>
    </div>
  {% else %}  
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav"> </div>
      <div class="col-sm-8 text-left"> 
        <section id="not-found">
            <h1 id="result">404: Page not found</h1>
            <hr>
            <p>Sorry, but the page you are looking for has not been found.</p>
        </section>
        <div class="col-sm-12 text-center">
       </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="">
          <img src="data/breaking-news.png" height="400" width="142">
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</body>
</html>